<html>
<head>
    <meta charset="utf-8">
    <title>Sign Up For Beta Form</title>
    <link rel="stylesheet" href="/static/assets/css/error500.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<form action="#" method="post" name="sign up for beta form">
    <div class="header">
        <p>Sign Up For Access</p>
    </div>
    <div class="description">
        <p>Milkshake is almost ready. If you're interested in testing it out, then sign up below to get exclusive
            access.</p>
    </div>
    <div style="text-align: center" class="input">
        <a class="button" id="submit"
           href="https://docs.google.com/forms/d/1YvIJvxYU4AlXuADQN6bUBXAQHbwondxxM0HviYkRKzQ/edit"
           style="margin: auto;"> SIGN UP! </a>
    </div>


</form>
</body>
</html>