<!doctype html>
<title>Welcome to MESA</title>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<!-- import css -->
	<link rel="stylesheet" type="text/css" href="/static/assets/css/theme.css">
	<link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:400,700, 300" rel="stylesheet">
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     
	<title>MESA</title>
	
</head>
<!-- <form action="/login">
    <input type="submit" class="btn-spotify" >Login With Spotify</input>
</form> -->

<div class="App">
    <header class="App-header">
        <a class="btn-spotify" href="/auth/login" >
            Login with Spotify 
        </a>
    </header>
</div>
